# Visualizing data in python

Currently, there are several modules to choose when talking about graphic representation of data, each with its own applications and userbase.

This post is a rather ambitious attempt at identifying the strengths, weaknesses and overall most indicated application of the following modules:
- matplotlib
- seaborn
- pandas
- altair
- bokeh
- toyplot
- ggplot

The author's background must be taken into account: a scientific researcher with a soft spot for data visualization (and data science as a whole).

These two activities have a lot in common, but differ fundamentally in their final product. For that reason, each module will be utilized in both contexts:
1. the creation of "publication ready", mostly static, charts, including heavy labels and axes customization
2. the typical data analysis workflow, prioritizing ease of use and the "grammar of graphics" concept

**As of now, it remains as a one-part, ginormous post. Maybe, if some sense is ever knocked into me, it can become a multipart post.**

## Data

For starters, we need data.

Let's start by importing the `cars` dataset from the [altair module](https://altair-viz.github.io/documentation/datasets.html). 

This dataset will be utilized with all modules, it has 9 collumns:

- `Acceleration` - model's top acceleration, in ~~(I DON'T KNOW, IT MAKES NO SENSE)~~
- `Cyllinders` - number of engine cyllinders
- `Displacement` - engine displacement in cubic inches
- `Horsepower` - engine's power, in hp
- `Miles_per_Gallon` - distance covered, in miles, with one gallon of fuel ($\times\frac{1.60934}{3.78541}$ km/l)
- `Name` - model's name
- `Origin` - country (or continent) of origin
- `Weight_in_lbs` - total car weight, in pounds ~~(why?)~~
- `Year` - model's launch year, YYYY-MM-DD

In [1]:
from altair import load_dataset
cars = load_dataset('cars')
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,6)